/* RESET CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: roboto;
    scroll-behavior: smooth;
}

/* HEADER */

/* HEADER TOP */
.header {
    border-bottom: 1px solid var(--border-color);
    padding: 0 36px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 12px 0;
}

.logo__img {
    display: block;
    width: 300px;
}

.personal-list {
    display: flex;
    list-style: none;
}

.personal-list__item {
    display: inline-block;
    margin: 0 12px;
}

.personal-list__link {
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.personal-list__account {
    position: relative;
}

.personal-list__search {

}

.personal-list__icon {
    font-size: 1.6rem;
    margin: 0 8px;
}

.personal-list__icon--search {

}

.personal-list__icon--account-unlogin {

}


.account-content {
    border-radius: 3px;
    overflow: hidden;
    z-index: 1;
}


.account-unlogin__item {

}

.account-unlogin__link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 900;
    font-size: 1.4rem;
    display: block;
    padding: 12px 12px;
}

.account-unlogin__link:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: black;
}

.personal-list__icon--cart-empty {

}

/* LOGED */
.account-avatar {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-right: 4px;
}


.account-logined__item {
    padding: 10px 20px;
}

.account-logined__link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 900;
    font-size: 1.4rem;
}


/* SEARACH CONTENT */

.search-content {
    position: absolute;
    height: 24px;
    align-items: center;
    top: 0;
    right: 100%;
    display: none;
}

.search-content__text {
    border: 1px solid (--border-color);
    /* border-radius: unset; */
    width: 250px;
    height: 30px;
    padding: 0 12px;
    font-size: 1.4rem;
    outline: none;
}

.search-content__icon {
    font-size: 2.2rem;
    padding: 10px 10px;
}

.personal-list__item-search:hover .search-content {
    display: flex;
}

/* CART EMPTY */
.cart-empty {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 1.5px;
    display: none;
}

.cart-empty::before {
    content: "";
    position: absolute;
    top: -26px;
    right: 3%;
    border: 18px solid;
    border-color: transparent transparent #7f7f7f transparent;
}

.cart-empty__img {

}

.cart-empty__text {
    margin: 20px 0;
    font-size: 1.4rem;
}

.personal-list__item--cart-empty:hover  .cart-empty{
    display: flex;
}

/* CART NOT EMPTY */

.cart-full {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    /* background-color: #b5bac2; */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 30px;
    z-index: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    border-radius: 2px;
    display: none;
}

.cart-full::before {
    content: "";
    position: absolute;
    top: -26px;
    right: 3%;
    border: 18px solid;
    border-color: transparent transparent #7f7f7f transparent;
}

.cart-info {
    background-color: var(--white-color);
    padding: 16px 16px;
    width: 500px;
    height: 240px;
    overflow-y: auto;
    border-radius: 2px;
}

.cart-info::-webkit-scrollbar {
    /* border-radius: 2px; */
}

.cart-list {

}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-item__img {
    padding-bottom: 10px;
}

.cart-item-text {
    flex: 1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 8px;
}

.cart-item__name {
    width: 200px;
    font-size: 1.6rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.cart-item__quantity {
    font-size: 1.4rem;
}

.cart-item__size-color {
    font-size: 1.2rem;
}

.cart-item__price {
    font-size: 1.6rem;
}

.cart-item__delete {
    width: 20px;
    height: 20px;
    display: flex;
}

.cart-item__delete-icon {
    margin: auto;
}

.cart-item__delete:hover {
    border: 1px solid black;
    box-shadow: 0 0 1px black;
    border-radius: 50%;
}


.cart__total-price {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--white-color);
}

.cart__total-price-label {
    font-size: 1.8rem;
}

.cart__total-price-number {
    font-size: 1.8rem;
}


.cart-control {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.cart-control__continue-shopping {
    
}

.cart-control__checkout {

}

.personal-list__item--cart-full:hover .cart-full {
    display: block;
}


/* HEADER BOT */

.header-bot {
    margin: 6px 0;
}
.menu {
    list-style: none;
    text-align: center;
}

.menu__item {
    display: inline-block;
    margin: 0 12px;
}

.menu__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 800;
}

.menu__link-icon {
    display: inline-block;
    position: relative;
    transform: translateY(-12%);
}

/* CLOTHING */
.menu-clothing {
    
}

.menu-clothing__content {
    top: calc(100% + 4px);
}

.menu-clothing__content-item {
    text-align: left;
    padding: 10px 20px;
}

.menu-clothing__content-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 800;
}

.menu-accessories {
    
}

.menu-accessories__content {
    top: calc(100% + 4px);
}

.menu-accessories__content-item {
    text-align: left;
    padding: 12px 20px;
}

.menu-accessories__content-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 800;
}

/* SLIDESHOW */
.mySlides {
    /* display: none; */
}

img {
    vertical-align: middle;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}

.container {
    position: relative;
    overflow: hidden;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    transition: 0.6s linear;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.numberText {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    font-size: 1.2rem;
    padding: 8px 12px;
    top: 0;
}

.fade {
    animation: fade linear 0.6s;
}

@keyframes fade {
    from {
        opacity: 0.7;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/* HIGHLIGHT STREETWEAR */
.highlight-streetwear {
    width: 100%;
    position: relative;

}

.highlight-streetwear__img {
    width: 100%;
}

.highlight-streetwear__shopnow {
    position: absolute;
    right: 50px;
    top: 80%;
    min-width: 200px;
    min-height: 40px;
}

/* FOUR ITEM */
.popular-cate {
    overflow-x: hidden;
}

.popular-cate__item {
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}
.popular-cate__content {
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    transform: translatex(-50%);
}

.popular-cate__img {
    width: 100%;
    height: 100%;
}

.popular-cate__name {
    font-size: 2.6rem;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 30px;
}

.popular-cate__btn {
    min-width: 180px;
    min-height: 40px;
    font-size: 1.4rem;
}

.popular-cate__btn:hover {
    background-color: black;
    border-color: black;
    color: var(--white-color);
}

/* POPULAR SHOE */
.popular-shoe {
    max-width: 80%;
    margin: 40px auto;
    text-align: center;
}

.popular-shoe__title {
    font-size: 2rem;
}

.popular-shoe__description {
    font-size: 2rem;
    margin: 16px 0;
    display: block;
}

.popular-shoe__video {
    width: 100%;
    position: relative;
}

.popular-shoe__btn {
    min-width: 160px;
    position: absolute;
    top: 80%;
    right: 30px;
}

/* POPULAR CAP */

.popular-cap {
    padding-top: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.popular-cap__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

.popular-cap__title {
    font-size: 2rem;
    color: var(--white-color);
    margin-bottom: 30px;
}

.popular-cap__description {
    width: 100%;
    font-size: 1.6rem;
    color: var(--white-color);
    display: block;
}

.popular-cap__btn {
    color: #fff;
    margin-top: 40px;
    background-color: transparent;
    border-color: var(--white-color);
}

.popular-cap__btn:hover {
    border-color: black;
}

/* NEW IN */
.product__list {
    overflow: hidden;
}

.product__item {
    position: relative;
    display: block;
}

.newin__label {
    font-size: 2rem;
    text-align: center;
    margin: 60px 0;
}

.product__img {
    
    width: 100%;
}

.product__img--unhover {
    
}

.product__img--hover {
    position: absolute;
    top: 0;
    display: none;
}


.product__item:hover .product__img--hover {
    display: block;
}

.product__item-link {
    text-decoration: none;
}

.product__name {
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-color);
}

.product__code {
    text-align: center;
    font-size: 1.4rem;
}

.product__price {
    text-align: center;
    font-size: 1.4rem;
}

.product__scrollbar {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.product__scrollbar::-webkit-scrollbar {
    display: none;
}

/* BANNER BOT */
.banner-bot {
    background-image: url(https://theme.hstatic.net/1000042622/1000531425/14/slideshow_3.jpg);
    height: 300px;
    margin-top: 40px;
    background-size: cover;
    background-attachment: fixed;
    /* background-position-y: top; */
    display: flex;
    background-position: center;
}

.banner-bot__content {
    margin: auto;
}

.banner-bot__label {
    color: var(--white-color);
    font-size: 2rem;
}

.banner-bot__btn {
    display: block;
    margin: 20px auto;
    min-width: 200px;
}

/* FOOTER */
.footer {
    overflow: hidden;
}

.footer-top {
    background-color: #190c0c;
    padding: 16px;
}

.footer-infor {

}

.footer-infor__img-link {

}

.footer-infor__img {
    width: 180px;
}

.footer-infor__address {
    color: #7a7a7a;
    font-size: 1.4rem;
    margin: 12px 0;
}

.footer-infor__tel {
    color: #7a7a7a;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
}

.footer-infor__mail {
    color: #7a7a7a;
    text-decoration: none;
    display: block;
    font-size: 1.4rem;
    margin: 16px 0;
}

.footer-infor__imgbct-link {

}

.footer-infor__imgbct {
    width: 200px;
}

.footer-custom-help {
    
}

.footer-custom-help__lable {
    font-size: 1.8rem;
    color: #7a7a7a;
    margin-bottom: 24px;
}

.footer-custom-help__link {
    font-size: 1.4rem;
    color: #7a7a7a;
    text-decoration: none;
    display: block;
    margin: 16px 0;
}

.footer-service {

}

.footer-service__lable {
    font-size: 1.8rem;
    color: #7a7a7a;
    margin-bottom: 24px;
}

.footer-service__link {
    font-size: 1.4rem;
    color: #7a7a7a;
    text-decoration: none;
    display: block;
    margin: 16px 0;
}

.footer-contact {
    text-align: center;
}

.footer-contact__label {
    font-size: 1.8rem;
    color: #7a7a7a;
    margin-bottom: 30px;
}

.footer-contact__icon-area {
    font-size: 2rem;
    padding: 16px;
    border-bottom: 1px solid #7a7a7a;
}

.footer-contact__icon {
    color: #7a7a7a;
    text-decoration: none;
}

.footer-contact__icon i {
    font-size: 3rem;
}

.footer-contact__text-dki {
    font-size: 1.8rem;
    color: #7a7a7a;
    margin: 20px 0;
}

.footer-contact__input-area {
    display: flex;
}

.footer-contact__input {
    flex: 1;
    padding: 10px;
}

.footer-contact__btn-dki {

}

.footer-copyright {
    background-color: #070606;
}

.footer-copyright__label {
    text-align: center;
    height: 60px;
    line-height: 60px;
    font-size: 2.4rem;
    color: var(--text-color);
}

.floatscroll {
    width: 35px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 80%;
    right: 2.6%;
    transition: all linear .5s;
}

.floatscroll i {
    font-weight: 900;
    color: #fff;
}

.floatinstagram {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: fixed;
    top: 88%;
    right: 2.6%;
}

.floatinstagram i {
    font-size: 4rem;
    color: #fff;
    cursor: pointer;
}


.chat {
    position: absolute;
    bottom: calc(100% + 20px);
    right: 0;
    width: 400px;
    height: 320px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: none;
    transform-origin: bottom right;
    animation: scaleyin ease-in 0.2s;
    transition: scaleyin;
}

@keyframes scaleyin {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.chatcheck:checked ~ .chat {
    display: block;
}


.chat-top {
    display: flex;
}

.chat__img {
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 40px;
}

.chat-option {
    display: flex;
    height: 30px;
    align-items: center;
}

.chat__avatar {
    display: flex;
    background-color: #f2f2f2;
    padding: 3px;
    border-radius: 3px;
}

.chat__avatar i {
    color: black;
    font-size: 1.8rem;
}

.chat__avatar-img {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.chat__more {
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 12px;
}

.chat__more i {
    color: black;
    font-size: 1.4rem;
}

.chat__line {
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__line i {
    color: black;
    font-size: 1.4rem;
    font-weight: 900;
}

.chat__label {
    font-size: 2.2rem;
    margin: 40px 0 4px;
}

.chat__phanhoi {
    font-size: 1.2rem;
    color: rgb(150, 144, 144);
}

.chat__hello {
    margin: 30px 0;
    font-size: 1.7rem;
}

.chat__continue {
    width: 100%;
    padding: 16px;
    margin: 0 auto;
    display: block;
    font-size: 1.6rem;
    border-radius: 20px;
    border: none;
    color: #fff;
    font-weight: 700;
    background-color: rgb(0, 132, 255);
}



/* COLLECTTION CSS */

.collection-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 25px 10px;
}

.collection__list {
    padding: 0 4px;
}

.collection-header__filter {
    font-size: 1.6rem;
    padding: 4px;
    border-radius: 6px;
    font-weight: 900;
    background-color: #f2f2f2;
}

.collection-header__label {
    font-size: 2.2rem;
}  

.collection-header__sort {
    display: flex;
    align-items: baseline;
    font-weight: 900;
}

.sort__label {
    font-size: 1.6rem;
}

.sort__option {
    font-size: 1.6rem;
    border: 1px solid var(--border-color);
    padding: 4px;
    border-radius: 2px;
    margin-left: 10px;
    position: relative;
}

.sort__option i { 
    margin-left: 50px;
}

/* PANIGATION */
.panigation__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 50px 0;
}

.panigation__item {
    padding: 4px;
    border: 1px solid black;
    max-height: 30px;
    min-width: 30px;
    display: block;
    margin: 0 4px;
}

.panigation__link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    height: 100%;
    width: 100%;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panigation__link i {
    font-weight: 900;
}

.panigation__item:nth-child(3) {
    background-color: black;
}

/* SORT */
.option__list {
    list-style: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    display: none;
}

.option__item {
    padding: 6px;
    font-size: 1.2rem;
}

.sortcheck:checked ~ .option__list {
    display: block;
}

/* FILTER */
.filter {
    margin-top: 10px;
    height: 70vh;
    width: 400px;
    left: 0;
    position: fixed;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    transform: translateX(calc(-100% - 20px));
    opacity: 0;
    transition: all linear .3s;
}

#filter-check:checked ~ .filter {
    transform: translateX(0);
    opacity: 1;
}


.filter__header {
    padding: 10px 26px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
}

.filter__header-label {
    font-size: 1.4rem;
}

.menu-filter {
    overflow: hidden;
    border-radius: 2px;
}

.filter-item {
    list-style: none;
    border-top: 1px solid var(--border-color);
    overflow: hidden;
}

.btn-dropdown {
    display: flex;
    padding: 10px 26px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.btn-dropdown i {
    
}

.smenu {
    overflow: hidden;
    transition: max-height .3s;
    max-height: 0;
}

.smenu__item {
    display: block;
    padding: 10px 26px;
    position: relative;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    color: var(--text-color);
}

#protype-check:checked ~ .smenu {
    max-height: 10em;
}

#price-check:checked ~ .smenu {
    max-height: 10em;
}

/* DETAIL PRODUCT */

.dproduct__name {
    font-size: 2.4rem;
}

.dproduct__price {
    font-size: 2rem;
}

.dproduct__brand-cate-code {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding: 16px 0;
}

.dproduct__brand {
    font-size: 1.2rem;
}

.dproduct__cate {
    font-size: 1.2rem;
    margin: 0 30px;
}

.dproduct__code {
    font-size: 1.2rem;
}

.dproduct__size {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.dproduct__size-label {
    font-size: 1.8rem;
}

.dproduct__size-list {
    display: flex;
    list-style: none;
    margin-left: 10px;
}

.dproduct__size-item {
    font-size: 1.4rem;
    font-weight: 800;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0 10px;
}

.dproduct__size-item--active {
    position: relative;
}

.dproduct__size-item--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid black;
}

.dproduct__size-item--active::before {
    content: "\2714";
    color: white;
    position: absolute;
    bottom: 0;
    right: 1px;
    z-index: 2;
    font-size: 8px;
}

.dproduct__size-item--active {

}

.wrap-detail-page {
    padding: 0 4px;
}

.detail-top__wide {
    padding: 40px 0;
    overflow: hidden;
}

.dproduct__color {
    display: flex;
    align-items: center;
}

.dproduct__color-label {
    font-size: 1.8rem;
}

.dproduct__color-item {
    font-size: 1.2rem;
    font-weight: 800;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 0 20px;
}

.dproduct__color-item--active {
    position: relative;
}

.dproduct__color-item--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid black;
}

.dproduct__color-item--active::before {
    content: "\2714";
    color: white;
    position: absolute;
    bottom: 0;
    right: 1px;
    z-index: 2;
    font-size: 8px;
}

.dproduct__quantity {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.dproduct__quantity-label {
    font-size: 1.8rem;
}

.dproduct__quantity-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 18px;
}

.dproduct__quantity-item {
    font-size: 1.8rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    border: 1px solid var(--border-color);
}

.dproduct__quantity-availabel {
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dproduct__add-to-cart {
    display: block;
    min-width: 100%;
    margin: 10px 0;
}

.dproduct__buy-now {
    display: block;
    min-width: 100%;
    color: black;
    border-color: black;
}

/* Main SIdebar */
.mainsidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border-color: var(--border-color);
    background-color: #f6f6f6;
    overflow-y: auto;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.3s;
}

.mainsidebar__fixed {
    width: 365px;
    position: fixed;
    padding-top: 20px;
    top: 0;
    background-color: #f6f6f6;
}

.mainsidebar::-webkit-scrollbar {
    display: none;
}

.mainsidebar__logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.mainsidebar__logo-img {
    width: 70%;
}

.mainsidebar__logo-close {
    padding: 16px;
}

.mainsidebar__search {
    display: flex;
    padding: 40px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.mainsidebar__search-input {
    flex: 1;
    padding: 6px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 800;
}

.mainsidebar__search-btn {
    color: #fff;
    overflow: hidden;
}

.mainmenu {
    margin-top: 201px;
}

.mainitem {
    list-style: none;
    padding: 18px 0;
    border-top: 1px solid var(--border-color);
}

.mainbtn-dropdown {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    font-size: 1.2rem;
}

.mainbtn-dropdown i {

}

.smainmenu {
    max-height: 0;
    transition: max-height 0.3s;
    overflow: hidden;
}

.smainmenu__item {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 18px 10px;
}

.smainmenu__item:last-child {
    padding-bottom: unset;
}

#clothing-check:checked ~ .smainmenu {
    max-height: 100em;
}


#accessories-check:checked ~ .smainmenu {
    max-height: 100em;
}

/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

/* Mheader */

.mheader {
    margin: 12px 0;
    display: none;
}

.mheader__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mheader__list-icon {
    font-size: 1.4rem;
    font-weight: 900;
    padding: 16px;
}

.mheader__logo {
    width: 200px;
}

.mheader__cart {

}

#mainsidebar-check:checked ~ .mainsidebar {
    transform: translateX(0);
    opacity: 1;
}

#mainsidebar-check:checked ~ .overlay{
    display: block;
}

/* CHITIETSANPHAM */
.main {
    overflow: hidden;
}

.btn-detail {
    line-height: 40px;
    text-align: center;
    min-width: 180px;
    display: inline-block;
    cursor: default;
}

.detail-box__item {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.detail-box__item:first-child {
    border-right: none;
}

.detail-box__item:last-child {
    border-left: none;
}

.detail-box__infor {

}

.detail-box__infor h2,
.detail-box__merterial h2,
.detail-box__model h2 {
    font-weight: 700;
    font-size: 1.8rem;
}

.detail-box__infor p,
.detail-box__merterial p,
.detail-box__model p {
    font-weight: 600;
    font-size: 1.4rem;
}

.detail-relate h1,
.detail-saw h1  {
    text-align: center;
    font-size: 2.4rem;
    margin: 20px 0;
}

.relate__item img,
.saw__item img {
    max-width: 100%;
}

.relate__item {
    display: block;
    position: relative;
}

.relate__content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--white-color);
}

.saw__content {
    text-align: center;
}

.relate__content p,
.saw__content p  {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 10px;

}

.saw__content h1 {
    margin: 14px 0;
    font-size: 1.4rem;
}

.detail-bot-table {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-bot-table tbody tr td {
    font-size: 1.4rem;
    padding: 14px;
    line-height: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.detail-bot-table tbody tr td p {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 10px 0;
}

/* CHAT-BOX */

.chat-box {
    display: none;
    position: absolute;
    z-index: 10;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 350px;
    height: 500px;
    overflow: hidden;
}

.chat-box__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09);
    padding: 10px;
}

.chat-box__header-icon {
    width: 30px;
    height: 30px;
    background-color: #c9c9c9;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}
.chat-box__header-icon:last-child {
    line-height: 13px;
    margin-left: 2px;
}

.chat-box__header img {
    max-width: 80px;
    max-height: 20px;
    margin-right: 10px;
}

.chat-box__header-text {
    flex: 1;
}

.chat-box__header-text p {
    font-size: 1rem;
    color: #333;
}

.chat-box__header-text span {
    font-size: 0.8rem;
    color: #c5c5c5;
}

.chat-box__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.chat-box__footer input[type = "text"] {
    flex: 1;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin: 0 10px;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 2px;
    font-size: 1rem;
}

.chat-box__footer input[type = "text"]:focus {
    border-color: rgba(0, 0, 0, 0.4);
}

.chat-box__footer img {
    max-width: 20px;
    cursor: pointer;
}

.chat-box__footer span {
    cursor: pointer;
}

.display-block {
    display: block;
}

/* chat box displayed */

.chat-box-displayed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 350px;
    height: 500px;
    overflow: hidden;
}

.chat-box-displayed__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09);
    padding: 10px;
}

.chat-box-displayed__header-icon {
    width: 30px;
    height: 30px;
    background-color: #c9c9c9;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}
.chat-box-displayed__header-icon:last-child {
    line-height: 13px;
    margin-left: 2px;
}

.chat-box-displayed__header img {
    max-width: 80px;
    max-height: 20px;
    margin-right: 10px;
}

.chat-box-displayed__header-text {
    flex: 1;
}

.chat-box-displayed__header-text p {
    font-size: 1rem;
    color: #333;
}

.chat-box-displayed__header-text span {
    font-size: 0.8rem;
    color: #c5c5c5;
}

.chat-box-displayed__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.chat-box-displayed__footer input[type = "text"] {
    flex: 1;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    margin: 0 10px;
    border-color: rgba(0, 0, 0, 0.2);
    padding: 2px;
    font-size: 1rem;
}

.chat-box-displayed__footer input[type = "text"]:focus {
    border-color: rgba(0, 0, 0, 0.4);
}

.chat-box-displayed__footer img {
    max-width: 20px;
    cursor: pointer;
}

.chat-box-displayed__footer span {
    cursor: pointer;
}